In [3]:
import os
import geopandas as gpd
import pandas as pd

districts_dir = "/data/tmp/arogya/data/inputs/districts/districts/"
districts = [file.split(".gpkg")[0] for file in os.listdir(districts_dir)]
len(districts)
areas = []
for dist in districts:
    dist = gpd.read_file(f"{districts_dir}/{dist}.gpkg").to_crs("epsg:3857")
    areas.append({"DISTID": dist["DISTID"][0], 'DIST_34_NA': dist['DIST_34_NA'][0], "area":dist.area[0] })
areas = pd.DataFrame(areas)

/home/arogya/.local/lib/python3.9/site-packages/geopandas/_compat.py:111: UserWarning: The Shapely GEOS version (3.10.2-CAPI-1.16.0) is incompatible with the GEOS version PyGEOS was compiled with (3.10.1-CAPI-1.16.0). Conversions between both will be slow.
  warnings.warn(

In [4]:
areas = areas.sort_values('area', ascending=True)
list(areas['DISTID'])

['1001',
 '817',
 '1002',
 '1706',
 '813',
 '822',
 '1003',
 '1011',
 '1004',
 '1015',
 '814',
 '806',
 '820',
 '1612',
 '1118',
 '1013',
 '809',
 '1014',
 '802',
 '808',
 '2111',
 '1007',
 '804',
 '1703',
 '815',
 '1312',
 '2312',
 '1710',
 '816',
 '1813',
 '1606',
 '2404',
 '3401',
 '1005',
 '1006',
 '1010',
 '1607',
 '1116',
 '1009',
 '2416',
 '1126',
 '805',
 '1315',
 '803',
 '905',
 '901',
 '2401',
 '904',
 '1707',
 '1901',
 '1111',
 '1102',
 '903',
 '1124',
 '1711',
 '1302',
 '2301',
 '902',
 '1125',
 '1113',
 '2505',
 '1307',
 '1704',
 '1115',
 '3102',
 '1907',
 '1708',
 '2415',
 '112',
 '1705',
 '3106',
 '1103',
 '1112',
 '2406',
 '2302',
 '1123',
 '2405',
 '1803',
 '2605',
 '605',
 '2304',
 '2709',
 '2601',
 '2106',
 '1605',
 '2604',
 '1608',
 '1902',
 '3404',
 '2004',
 '2303',
 '1807',
 '1609',
 '3409',
 '3408',
 '1808',
 '3101',
 '1905',
 '2507',
 '2102',
 '1805',
 '1702',
 '2309',
 '3407',
 '1701',
 '2603',
 '2110',
 '1804',
 '2012',
 '2407',
 '2703',
 '1802',
 '1809',
 '2602',
 '2006',
 '2413',
 '2305',
 '2403',
 '2101',
 '2108',
 '1903',
 '2705',
 '3402',
 '2412',
 '2402',
 '2707',
 '2306',
 '2307',
 '2308',
 '2702',
 '2706',
 '1906',
 '2710',
 '2109',
 '2105',
 '2411',
 '2408',
 '3103',
 '2014',
 '2103',
 '1904',
 '2205',
 '2310',
 '2311',
 '2313',
 '2203']

In [8]:
areas['perc'] = areas['area']/sum(areas['area'])

In [9]:
areas

    DISTID     DIST_34_NA          area      perc
24    1001       Asadabad  1.253060e+08  0.000277
104    817       Bati Kot  2.116398e+08  0.000468
114   1002       Marawara  2.191307e+08  0.000484
84    1706          Aqcha  2.291680e+08  0.000506
19     813        Shinwar  2.403120e+08  0.000531
..     ...            ...           ...       ...
118   2205      Khash Rod  1.134923e+10  0.025074
93    2310          Dishu  1.257109e+10  0.027774
86    2311        Garmser  1.401765e+10  0.030970
43    2313  Reg(Khanshin)  1.755941e+10  0.038794
83    2203  Chahar Burjak  2.907686e+10  0.064240

[146 rows x 4 columns]

In [14]:
predicted = [int(dir.split("_")[0]) for dir in os.listdir('../../data/outputs/predictions/') if dir != '.ipynb_checkpoints']

In [17]:
areas[areas['DISTID'].astype(int).isin(predicted) ]

    DISTID    DIST_34_NA          area      perc
104    817      Bati Kot  2.116398e+08  0.000468
19     813       Shinwar  2.403120e+08  0.000531
48     822           Kot  2.617287e+08  0.000578
145   1015       Sarkani  2.955233e+08  0.000653
34     814  Muhmand Dara  2.967890e+08  0.000656
76     820    Dara-I-Nur  3.761995e+08  0.000831
122   1612       Dihdadi  3.955621e+08  0.000874
102   1013        Nurgal  4.587470e+08  0.001014
26     809         Rodat  5.377873e+08  0.001188
108   1014    Khas Kunar  5.414804e+08  0.001196
4      808      Deh Bala  5.632075e+08  0.001244

In [16]:
type(areas['DISTID'])

pandas.core.series.Series